.tableUsuario table thead tr{
    font-family: 'Arial';
    font-size: 14px;
}
#tablaProductos,#productosTables{
       font-family: 'Arial';
    font-size: 14px;
}
.tableUsuario table tbody tr{
    font-family: 'Arial';
    font-size: 14px;
  
}
.tableUsuario table thead tr th:last-child{
    width:210px;
    
}
#partecentral{
    overflow: scroll;
}
#productosDetalleVenta{
    overflow: scroll;
}
#productosTables{
    overflow: scroll;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Imagenes/cargando.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
#partecentral2{
    border: 2px solid black;
    font-size:14px;
    height:245px;
    width: 100%;
    background: #f2f2f2;
       
}
#productosDetalleVenta{

    border: 2px solid black;
    font-size:14px;
    height:245px;
    width: 100%;
    background: #f2f2f2;  
}
#productosTables{
      border: 2px solid black;
    font-size:14px;
    height:245px;
    width: 100%;
    background: #f2f2f2;   
}

